=begin
#AtlasKernel Platform API

#Single Source of Contract (v24). Implementations must conform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class DecisionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apply a decision (enqueue action) with gate
    # v23 gate - if decision is not approved, actions=[] and blocked_reason is returned.
    # @param project_id [String] 
    # @param decision_id [Integer] 
    # @param decision_apply_request [DecisionApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DecisionApplyResponse]
    def post_decision_apply(project_id, decision_id, decision_apply_request, opts = {})
      data, _status_code, _headers = post_decision_apply_with_http_info(project_id, decision_id, decision_apply_request, opts)
      data
    end

    # Apply a decision (enqueue action) with gate
    # v23 gate - if decision is not approved, actions&#x3D;[] and blocked_reason is returned.
    # @param project_id [String] 
    # @param decision_id [Integer] 
    # @param decision_apply_request [DecisionApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DecisionApplyResponse, Integer, Hash)>] DecisionApplyResponse data, response status code and response headers
    def post_decision_apply_with_http_info(project_id, decision_id, decision_apply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DecisionsApi.post_decision_apply ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DecisionsApi.post_decision_apply"
      end
      # verify the required parameter 'decision_id' is set
      if @api_client.config.client_side_validation && decision_id.nil?
        fail ArgumentError, "Missing the required parameter 'decision_id' when calling DecisionsApi.post_decision_apply"
      end
      # verify the required parameter 'decision_apply_request' is set
      if @api_client.config.client_side_validation && decision_apply_request.nil?
        fail ArgumentError, "Missing the required parameter 'decision_apply_request' when calling DecisionsApi.post_decision_apply"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/decisions/{decision_id}/apply'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'decision_id' + '}', CGI.escape(decision_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decision_apply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionApplyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DecisionsApi.post_decision_apply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DecisionsApi#post_decision_apply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve a decision
    # @param project_id [String] 
    # @param decision_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [DecisionApproveRequest] :decision_approve_request 
    # @return [DecisionApproveResponse]
    def post_decision_approve(project_id, decision_id, opts = {})
      data, _status_code, _headers = post_decision_approve_with_http_info(project_id, decision_id, opts)
      data
    end

    # Approve a decision
    # @param project_id [String] 
    # @param decision_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [DecisionApproveRequest] :decision_approve_request 
    # @return [Array<(DecisionApproveResponse, Integer, Hash)>] DecisionApproveResponse data, response status code and response headers
    def post_decision_approve_with_http_info(project_id, decision_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DecisionsApi.post_decision_approve ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DecisionsApi.post_decision_approve"
      end
      # verify the required parameter 'decision_id' is set
      if @api_client.config.client_side_validation && decision_id.nil?
        fail ArgumentError, "Missing the required parameter 'decision_id' when calling DecisionsApi.post_decision_approve"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/decisions/{decision_id}/approve'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'decision_id' + '}', CGI.escape(decision_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'decision_approve_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionApproveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DecisionsApi.post_decision_approve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DecisionsApi#post_decision_approve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decision propose (create ledger)
    # @param project_id [String] 
    # @param decision_propose_request [DecisionProposeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DecisionProposeResponse]
    def post_decision_propose(project_id, decision_propose_request, opts = {})
      data, _status_code, _headers = post_decision_propose_with_http_info(project_id, decision_propose_request, opts)
      data
    end

    # Decision propose (create ledger)
    # @param project_id [String] 
    # @param decision_propose_request [DecisionProposeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DecisionProposeResponse, Integer, Hash)>] DecisionProposeResponse data, response status code and response headers
    def post_decision_propose_with_http_info(project_id, decision_propose_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DecisionsApi.post_decision_propose ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DecisionsApi.post_decision_propose"
      end
      # verify the required parameter 'decision_propose_request' is set
      if @api_client.config.client_side_validation && decision_propose_request.nil?
        fail ArgumentError, "Missing the required parameter 'decision_propose_request' when calling DecisionsApi.post_decision_propose"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/decisions'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decision_propose_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionProposeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DecisionsApi.post_decision_propose",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DecisionsApi#post_decision_propose\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
