=begin
#AtlasKernel Platform API

#Single Source of Contract (v24). Implementations must conform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class EvidenceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get evidence asset by evidence_ref
    # Read-only. Returns evidence_assets row by (project_id, evidence_ref).
    # @param project_id [String] 
    # @param evidence_ref [String] 
    # @param [Hash] opts the optional parameters
    # @return [EvidenceAsset]
    def get_evidence_asset_by_ref(project_id, evidence_ref, opts = {})
      data, _status_code, _headers = get_evidence_asset_by_ref_with_http_info(project_id, evidence_ref, opts)
      data
    end

    # Get evidence asset by evidence_ref
    # Read-only. Returns evidence_assets row by (project_id, evidence_ref).
    # @param project_id [String] 
    # @param evidence_ref [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvidenceAsset, Integer, Hash)>] EvidenceAsset data, response status code and response headers
    def get_evidence_asset_by_ref_with_http_info(project_id, evidence_ref, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EvidenceApi.get_evidence_asset_by_ref ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EvidenceApi.get_evidence_asset_by_ref"
      end
      # verify the required parameter 'evidence_ref' is set
      if @api_client.config.client_side_validation && evidence_ref.nil?
        fail ArgumentError, "Missing the required parameter 'evidence_ref' when calling EvidenceApi.get_evidence_asset_by_ref"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/evidence/{evidence_ref}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'evidence_ref' + '}', CGI.escape(evidence_ref.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EvidenceAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EvidenceApi.get_evidence_asset_by_ref",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EvidenceApi#get_evidence_asset_by_ref\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
