=begin
#AtlasKernel Platform API

#Single Source of Contract (v24). Implementations must conform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class LedgerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get ledger ingest run
    # Read-only. Returns a single ingest run by id (v14.1+).
    # @param project_id [String] 
    # @param ingest_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LedgerIngestRun]
    def get_ledger_ingest_run(project_id, ingest_run_id, opts = {})
      data, _status_code, _headers = get_ledger_ingest_run_with_http_info(project_id, ingest_run_id, opts)
      data
    end

    # Get ledger ingest run
    # Read-only. Returns a single ingest run by id (v14.1+).
    # @param project_id [String] 
    # @param ingest_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LedgerIngestRun, Integer, Hash)>] LedgerIngestRun data, response status code and response headers
    def get_ledger_ingest_run_with_http_info(project_id, ingest_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgerApi.get_ledger_ingest_run ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling LedgerApi.get_ledger_ingest_run"
      end
      # verify the required parameter 'ingest_run_id' is set
      if @api_client.config.client_side_validation && ingest_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'ingest_run_id' when calling LedgerApi.get_ledger_ingest_run"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ledger/ingest-runs/{ingest_run_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'ingest_run_id' + '}', CGI.escape(ingest_run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LedgerIngestRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LedgerApi.get_ledger_ingest_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgerApi#get_ledger_ingest_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ledger ingest runs
    # Read-only. Returns run-based UTL→Ledger ingest runs (v14.1+).
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by ingest run status.
    # @option opts [Time] :from RFC3339 lower bound for created_at (inclusive).
    # @option opts [Time] :to RFC3339 upper bound for created_at (exclusive).
    # @option opts [Integer] :limit Max items. (default to 50)
    # @return [LedgerIngestRunListResponse]
    def list_ledger_ingest_runs(project_id, opts = {})
      data, _status_code, _headers = list_ledger_ingest_runs_with_http_info(project_id, opts)
      data
    end

    # List ledger ingest runs
    # Read-only. Returns run-based UTL→Ledger ingest runs (v14.1+).
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by ingest run status.
    # @option opts [Time] :from RFC3339 lower bound for created_at (inclusive).
    # @option opts [Time] :to RFC3339 upper bound for created_at (exclusive).
    # @option opts [Integer] :limit Max items. (default to 50)
    # @return [Array<(LedgerIngestRunListResponse, Integer, Hash)>] LedgerIngestRunListResponse data, response status code and response headers
    def list_ledger_ingest_runs_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgerApi.list_ledger_ingest_runs ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling LedgerApi.list_ledger_ingest_runs"
      end
      allowable_values = ["accepted", "running", "succeeded", "failed_recorded"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LedgerApi.list_ledger_ingest_runs, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LedgerApi.list_ledger_ingest_runs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/projects/{project_id}/ledger/ingest-runs'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LedgerIngestRunListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LedgerApi.list_ledger_ingest_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgerApi#list_ledger_ingest_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
