=begin
#AtlasKernel Platform API

#Single Source of Contract (v24). Implementations must conform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PolicyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Policy evaluate (MVP)
    # @param project_id [String] 
    # @param policy_evaluate_request [PolicyEvaluateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEvaluateResponse]
    def post_policy_evaluate(project_id, policy_evaluate_request, opts = {})
      data, _status_code, _headers = post_policy_evaluate_with_http_info(project_id, policy_evaluate_request, opts)
      data
    end

    # Policy evaluate (MVP)
    # @param project_id [String] 
    # @param policy_evaluate_request [PolicyEvaluateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEvaluateResponse, Integer, Hash)>] PolicyEvaluateResponse data, response status code and response headers
    def post_policy_evaluate_with_http_info(project_id, policy_evaluate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyApi.post_policy_evaluate ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PolicyApi.post_policy_evaluate"
      end
      # verify the required parameter 'policy_evaluate_request' is set
      if @api_client.config.client_side_validation && policy_evaluate_request.nil?
        fail ArgumentError, "Missing the required parameter 'policy_evaluate_request' when calling PolicyApi.post_policy_evaluate"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/policy/evaluate'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_evaluate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyEvaluateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyApi.post_policy_evaluate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyApi#post_policy_evaluate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
