NEXT_PUBLIC_ASSET_BASE_URL=https://laravel.test
NEXT_PUBLIC_IMAGE_BASE_URL=https://laravel.test/storage

# Firebase client config for Next.js
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC4YCgTTKw1WS3Zg7niARhN5uV_szcxg8U"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="takayuki-2025-ver-1.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="takayuki-2025-ver-1"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="takayuki-2025-ver-1.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="755907716529"
NEXT_PUBLIC_FIREBASE_APP_ID="1:755907716529:web:49eba1d86d1e1934948990"
FIREBASE_PROJECT_ID=takayuki-2025-ver-1

# Admin_Rails
NEXT_PUBLIC_ADMIN_RAILS_BASE_URL=http://localhost:3001

# AtlasKernel Next server -> python_atlaskernel へ到達する内部URL（docker network名）
ATLAS_INTERNAL_URL=http://python_atlaskernel:8000
# ローカルでまずUIだけ見たい場合
ATLAS_USE_MOCK=0

# Cognito Hosted UI domain（httpsから）
NEXT_PUBLIC_COGNITO_DOMAIN=https://ap-northeast-1fbqasrsui.auth.ap-northeast-1.amazoncognito.com
# App client id（secretなし）occ-cli-no-secret
NEXT_PUBLIC_COGNITO_CLIENT_ID=5ilo79r7ee0b1vqrq8u794ffka

# Auth O
NEXT_PUBLIC_AUTH_MODE=idaas
NEXT_PUBLIC_API_BASE_URL=http://localhost
NEXT_PUBLIC_AUTH0_DOMAIN=dev-fsx5wopax06hf64v.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=JDQirXPSksE5jSH35MJ8oAbiAAoTuVIT
NEXT_PUBLIC_AUTH0_AUDIENCE=https://api.occore.local
NEXT_PUBLIC_OIDC_REDIRECT_URI=http://localhost/auth/callback
NEXT_PUBLIC_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost/login
NEXT_PUBLIC_OIDC_SCOPES=openid profile email

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51S4djbL5FmW737EdtTZZSncxQjYuIhaB4FxsBjg7Of1Lr7mYkT74ZU2yauWUY2t0aPPGyIIydYnx8VfxrLs755yl0028SjCRfD"

# ADYEN
NEXT_PUBLIC_ADYEN_ENV=test
NEXT_PUBLIC_ADYEN_CLIENT_KEY=test_GGC5TUD6NJAA5AEIR2EV33HHRUDLUYD3