APP_NAME=OmniCommerce-Stateful
APP_KEY=
APP_ENV=local
APP_DEBUG=true
APP_URL=https://localhost
LOG_CHANNEL=stack
FRONTEND_URL=http://localhost

APP_LOCALE=ja
FAKER_LOCALE=ja_JP
BCRYPT_ROUNDS=4
LOG_LEVEL=debug
SESSION_LIFETIME=480

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel_db
DB_USERNAME=laravel_user
DB_PASSWORD=////

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=no-reply@omnocommerce.local
MAIL_FROM_NAME="OmniCommerce Local"
# =========================
# Sanctum (Stateful SPA)
# =========================
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1,127.0.0.1:3000
SESSION_DOMAIN=localhost
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

# ローカルは trusted proxies を広めに
TRUSTED_PROXIES=*
CACHE_STORE=file
SESSION_DRIVER=cookie
QUEUE_CONNECTION=database

# ATLAS_MODE=http
ATLAS_MODE=hybrid
ATLAS_PROJECT_ID=occore
ATLAS_KERNEL_ENDPOINT=http://python_atlaskernel:8000/v1/analyze
ATLASKERNEL_ENDPOINT_ENTITY=http://python_atlaskernel:8000/v1/analyze/entity
ATLASKERNEL_TIMEOUT=10
ATLAS_KERNEL_ASSETS_PATH=/var/www/python_batch/atlaskernel/src/atlaskernel/assets
ATLAS_KERNEL_OCR_MIN_LENGTH=200
ATLAS_KERNEL_OCR_LANG=jpn+eng
ATLAS_KERNEL_OCR_DPI=200
ATLAS_KERNEL_OCR_MAX_PAGES=10
ATLAS_KERNEL_EXTRACTOR_BASE_URL=http://python_atlaskernel:8000
PROVIDERINTEL_HTTP_VERIFY=true
LEDGER_POST_DRIVER=local

# TRUSTLEDGER_Spring Boot
TRUSTLEDGER_LEDGER_DRIVER=http
TRUSTLEDGER_LEDGER_HTTP_BASE_URL=http://payment_core:8081
TRUSTLEDGER_LEDGER_HTTP_TIMEOUT=5
TRUSTLEDGER_LEDGER_HTTP_API_KEY=dev-secret

# admin管理ページ
TRUSTLEDGER_ADMIN_USER_IDS=1
TRUSTLEDGER_ADMIN_X_ADMIN_KEY=dev-local-admin-key
TRUSTLEDGER_ADMIN_API_BASE_URL=http://nginx

CORS_ALLOWED_ORIGINS=https://main.d16ur8hdj1byyz.amplifyapp.com,http://localhost

# custom開発
# JWT_PROVIDERS=custom,firebase,cognito,auth0
# JWT
JWT_SECRET=(////)

# Firebase
# JWT_PROVIDERS=firebase
FIREBASE_PROJECT_ID="takayuki-2025-ver-1"
FIREBASE_CREDENTIALS=(////)"config/firebase-service-account.json"


# AWSocc-cli-no-secret
# JWT_PROVIDERS=cognito
COGNITO_ISSUER=https://cognito-idp.ap-northeast-1.amazonaws.com/ap-northeast-1_FbqASRSuI
COGNITO_AUDIENCE=5ilo79r7ee0b1vqrq8u794ffka
COGNITO_JWKS_CACHE_SECONDS=3600


# Auth0
# JWT_PROVIDERS=auth0
JWT_PROVIDERS=auth0,firebase
AUTH0_DOMAIN=dev-fsx5wopax06hf64v.us.auth0.com
AUTH0_AUDIENCE=https://api.occore.local
AUTH0_ISSUER=https://dev-fsx5wopax06hf64v.us.auth0.com/

# Stripe
# PAYMENT_PROVIDER=stripe
STRIPE_KEY=(////)
STRIPE_SECRET=(////)
STRIPE_WEBHOOK_SECRET=(////)

# Adyen
PAYMENT_PROVIDER=adyen   # stripe | adyen（最短で切替）
ADYEN_ENV=test           # test | live
ADYEN_CLIENT_KEY=test_GGC5TUD6NJAA5AEIR2EV33HHRUDLUYD3
ADYEN_MERCHANT_ACCOUNT=OmniCommerceCoreECOM
ADYEN_CHECKOUT_BASE_URL=https://checkout-test.adyen.com
ADYEN_RETURN_URL=http://localhost/thanks/buy/adyen
ADYEN_API_KEY=(////)
ADYEN_HMAC_KEY=(////)



